body{
	background-color: lightcoral;
}
a{
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}
#box{
	width: 960px;
	height: 540px;
	background-color: lightblue;
	border: 1px lightpink;
	border-radius: 25px;
	margin:2% 12%;
	text-align: center;
}
img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: 150px;
}