body{
	background-color: lightcoral;
}
#container{
	background-color: lightblue;
	border-radius: 25px;
	margin: 0 15%;
}
#nav{
	text-align: center;
}
#nav li{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: lightgoldenrodyellow;
	color: black;
	border-radius: 0 25px;
}
#notice{
	color: black;
	background-color: lightgoldenrodyellow;
	border-radius: 10px;
	width: 95%;
	margin: 0 2%;
	padding: 0 5px;
}
#jump-imgs{
	/* margin: 0 50px; */
}
.img{
	width: 180px;
	height: 240px;
	border-radius: 25px;
	margin: 2px 53px;
}